/*
Author: Adlucio;
*/
@charset "UTF-8";
@font-face {
    font-family: 'dream';
    src: url(fonte/Dream-Avenue.ttf) format('truetype');
}
@font-face {
    font-family: 'TT';
    src: url("fonte/TTDrugs-Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'gagalin';
    src: url("fonte/TTDrugs-Regular.ttf") format('truetype');
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
}
header{
    position: fixed;
}
nav{
    width: 100%;
    position: relative;
}
nav a{
    font-size: 1.5em;
    background: linear-gradient(to top, #2d98ca4b,black, black);
    text-decoration: none;
    color: white;
    transition: 1s;
}
nav a:hover{
    font-size: 1.6em;
    background: linear-gradient(to top, #2d98ca4b,black, black);
    color: rgb(27, 172, 194);
    transition: 1s;
}
h1{
    font-size: 6em;
    font-family: 'dream';
    font-weight: lighter;
}
#principal h1{
    margin-left: 30px;
    margin-top: -100px;
    font-size: 7em;
    width: 50px;
}
#principal img{
    position:unset;
}
#cont img{
    height: 300px;
    max-width: 300px;
}
.container{
    display: flex;
}
.child{
    width: 50%;
}

h2{
    margin-top: 50px;
    font-family: 'TT';
    font-weight: lighter;
    text-transform: uppercase;
    width: 380px;
    text-align: justify;
}
P{
    color: #ABA9A8;
    font-family: 'TT';
    text-align: justify;
}
.container p{
    margin-top: 30px;
    width: 350px;
}
#tec{
    height: 300px;
    margin-top: -120px;
    position:relative;
   float: right;
}
#sobremim p{
    width: 400px;
}
#sobremim{
    margin-left: 50px;
    display:flex;
}
#sobremim img{
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    margin-top: 120px;
    border: 1px solid white;
}
.text{
    margin-top: 100px;
}
#projetos{
    margin-left: 50px;
    margin-bottom: 0px;
}
#projetos .text{
    width: 2000px;
    margin-top: -40px;
    margin-left: 200px;
}
#projetos a{
    color: red;
}
#projetos #tec{
    margin-top: -240px;
}
#contato h2{
    font-family: 'dream';
    font-size: 2em;
}
#contato a{
    color: red;
}
section p{
    margin: 0;
    display: inline;
}
footer{
    margin-top: 100px;
}
footer p{
    text-align: center;
}
@media(max-width:500px){
    .container{
        display: block;
    }
    #principal h1{
        text-align: center;
        font-size: 5em;
    }
}