/*
Author: Adlucio Guimaraes
*/
@charset "UTF-8";
@font-face {
    font-family: 'Gagalin';
    src: url("gagalin/Gagalin-Regular.otf") format('opentype');
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
}
:root{
    --fontU: Ubuntu;
    --fontG: 'Gagalin', sans-serif;
    --cor-logo: #38b6ff;
}
body{
    background-color: var(--cor-logo);
    font-family: var(--fontG);
}
#menu a{
    border: 3px solid white;
    color: white;
    text-decoration: none;
    background-color: var(--cor-logo);
    padding: 10px;
    border-radius: 30px;
    float: right;
    margin-right: 10px;
}
#menu{
    margin-top: -10px;
    width: 100%;
    padding: 5px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.312);
}
header{
    padding-bottom: 10%;
    font-family: var(--fontG);
    background-color: black;
    color: white;
    padding-top: 5px;
}
#container-header{
    display: grid;
    grid-template-columns: 50% 50%;
}

.nome-principal{
    text-align: center;
    margin-top: 30%;
    
}
#saud{
    font-weight: lighter;
    font-size: 5em;
}
#meunome{
    color: yellow;
    text-shadow: 2px 2px 2px var(--cor-logo);
}
#func{
    color: aqua;
}
#container-header picture{
    text-align: center;
    margin-top: 15%;
}
header img{
    border: 1px solid rgba(255, 255, 255, 0.193);
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.455);
    border-radius: 30px;
    max-width: 1040px;
}
.container{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
}
h1{
    font-family: var(--fontG);
}
article{
    background-color: white;
    border-radius: 30px;
    padding: 20px;
}
#sobremim{
    display: grid;
    grid-template-columns: 50% 50%;
}
#sobremim img{
    border-radius: 30px;
}
.txtart{
    text-align: center;
    margin-left: 30px;
}
h2{
    margin-bottom: 8%;
}
main p{
    text-indent: 30px;
    text-align: justify;
    font-family: var(--fontU);
    font-size: 1.2em;
}
#projetos{
    margin-top: 40px;
    text-align: center;
}
#projetos a{
    color: red;
}
#tecnologias{
    margin-top: 40px;
    text-align: center;
}
#tecnologiasdiv{
    display: grid;
    grid-template-columns: 27% 22% 22% 22%;

}
#tecnologiasdiv img{
    border-radius: 20px;
    border: 1px solid black;
}
#contato{
    text-align: center;
    margin-top: 40px;
}
#contato a{
    text-decoration: none;
    color: black;
}
#contato ul{
    list-style: none;
}
#contato li{
    display: inline;
}
footer{
    margin-top: 40px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 40px;
}
footer p{
    font-size: 1.3em;
}
footer a{
    color: yellow;
}
@media(max-width: 500px){
    #container-header{
        display: block;
        text-align: center;
    }
    #sobremim{
        display: block;
    }
    main{
        text-align: center;
        padding: 30px;
    }
    main article{
        border-radius: 20px;
    }
    #tecnologiasdiv{
        display: block;
    }
    .txtart{
        margin-left: 0;
    }
    #menu a{
        font-size: 12px;
    }
}